body{
    background:#eff4f9;
    font-family:Poppins, sans-serif;
    margin:0;
    padding:0;
}

.wrapper{
    width:88%;
    margin:60px auto;
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    justify-content:center;
}

/* BOX STYLE */
.box{
    background:#f7fcff;
    border-radius:18px;
    padding:26px 30px;
    box-shadow:0 0 22px rgba(0,0,0,0.07);
}

/* GRID SCALE */
.detail{width:35%;}
.note{width:28%;}
.summary{width:28%;}
.payment-method{width:28%;}

/* TEXT + INPUT */
h3{
    margin-bottom:15px;
    font-size:17px;
    font-weight:600;
}

.input-group{
    margin-bottom:14px;
}

label{
    font-size:13px;
    font-weight:600;
    display:block;
    margin-bottom:5px;
}

input,textarea{
    width:100%;
    background:#eaeef2;
    border:none;
    padding:10px;
    border-radius:8px;
}

textarea{
    height:100px;
    resize:none;
}

/* SUMMARY PRICE */
.subtotal,.total{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    font-weight:600;
}
.total b{color:#004b7a; font-size:17px;}

/* PAYMENT */
.payment-method label{
    display:flex;
    align-items:center;
    gap: 8px;
    margin-bottom:10px;
    font-size:14px;
    font-weight:600;
}

.submit-btn{
    background:#002f54;
    color:white;
    font-weight:600;
    border:none;
    padding:9px 20px;
    border-radius:7px;
    margin-top:12px;
    cursor:pointer;
    width:140px;
}
