/*======== KATALOG*/
body {
    margin: 0;
    padding-top: 80px;
    background: #f2f5f7;
    font-family: 'Times New Roman', serif;
}

/* KONTENER KATEGORI */
.section {
    width: 94%;
    margin: 28px auto;
    background: #f8fcff;
    border-radius: 15px;
    padding: 20px 28px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .08);
}

.title {
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    color: #0f2446;
    margin-bottom: 20px;
}

/* LIST CARD (scroll horizontal) */
.catalog-container {
    display: flex;
    gap: 18px;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

/* Scrollbar */
.catalog-container::-webkit-scrollbar { height: 8px; }
.catalog-container::-webkit-scrollbar-thumb {
    background: #0f2446;
    border-radius: 10px;
}

/* CARD */
.card {
    min-width: 220px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,.12);
}

.card-img {
    background: black;
    width: 100%;
    height: 160px;
}

.card-body {
    padding: 10px;
    text-align: center;
}

.car-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.btn {
    width: 100%;
    padding: 10px 0;
    border: none;
    font-weight: 700;
    border-radius: 6px;
    color: white;
    background: #0f2446;
    cursor: pointer;
}

.btn:hover { opacity: .85; }

